{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter" : {
        "expression" : "#klubname = :klubname",
        "expressionNames" : {
            "#klubname" : "klubname"
        },
        "expressionValues" : {
            ":klubname" : {"S": "${context.source.klubname}"}
        }
    },
}