{
    "version" : "2017-02-28",
    "operation" : "Scan",
    "filter" : {
        "expression" : "#username = :username",
        "expressionNames" : {
            "#username" : "username"
        },
        "expressionValues" : {
            ":username" : {"S": "${context.identity.username}"}
        }
    },
}