{
    "version" : "2017-02-28",
    "operation" : "DeleteItem",
    "key" : {
    "id" : { "S" : "${context.arguments.id}" },
    "conversationId": {"S" : "${context.arguments.conversationId}"}
    },
    "condition" : {
        "expression" : "#sender = :sender",
        "expressionNames" : {
            "#sender" : "sender"
        },
        "expressionValues" : {
            ":sender" : {"S": "${context.identity.username}"}
        }
    }
}