{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "username" : $util.dynamodb.toDynamoDBJson($context.identity.username)
    },
    "update" : {
        "expression" : "SET avatarUrl = :avatarUrl",
        ## "expressionNames": {
        ##     "#url" : "url"
        ## },
        "expressionValues": {
            ":avatarUrl" : $util.dynamodb.toDynamoDBJson($context.arguments.avatarUrl)
        }
    }
}